<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalhe</title>

</head>

<body> 

    <!--Para codificar usa-se % -->
    <% var texto = "EJS exemplo"; %>
    
    <h1>Detalhe</h1>
    <!--Para imprimir valor usa-se %= -->
    <%= texto %>
    <br>
    <%= cliente.nome %> - <%= cliente.email %>

</body>

</html>